---
layout: layouts/page.njk
title: 404 Not Found
description: The resource to be accessed could not be found.
---
<section><h1>Not found</h1></section>
<section>
  Sorry! We couldn&apos;t find what you were looking for&nbsp;<span role="img" aria-label="Pensive emoji">😔</span>
</section>
<section>
  <a href="/" aria-label="Return to the front page">Home</a>
</section>