---
copyYear: 2024
author: kjhoerr
description: The official website of Kevin Hoerr, developer of websites.
themeColor: "#e1e1e1"
---
{% set pageTitle = site.title | escape | replace('@', '&#64;') %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charSet="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="theme-color" content="{{ themeColor }}"/>
    <meta name="description" content="{{ description }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    <meta name="twitter:title" content="{{ title if title else pageTitle }}"/>
    <meta name="twitter:creator" content="{{ author }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta http-equiv="Content-Security-Policy" content="{{ ( "default-src 'self';img-src 'self' data:;script-src 'none';object-src 'none';base-uri 'none';connect-src 'none';" if eleventy.env.runMode == "build" else "default-src http://localhost:8080/;img-src http://localhost:8080/ data:;connect-src ws://localhost:8080/;script-src 'strict-dynamic' 'sha512-7Y25+FX/kRUbZEHtQBOSLffzofBxz8ABQErLAVpGkfzactkpJU5wtTmhIfIZeTw7VHg1JeTIC5kHkzPq7LqR1w==';" ) | safe }}">
    <meta name="generator" content="{{ eleventy.generator }}"> 
    <link rel="stylesheet" href="{{ '/styles.css' | url }}"/>
    <link rel="icon" href="{{ '/favicon-32x32.png' | url }}" type="image/png"/>
    <link rel="manifest" href="{{ '/manifest.webmanifest' | url }}"/>
    <link rel="apple-touch-icon" sizes="48x48" href="{{ '/icons/icon-48x48.png' | url }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ '/icons/icon-72x72.png' | url }}"/>
    <link rel="apple-touch-icon" sizes="96x96" href="{{ '/icons/icon-96x96.png' | url }}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ '/icons/icon-144x144.png' | url }}"/>
    <link rel="apple-touch-icon" sizes="192x192" href="{{ '/icons/icon-192x192.png' | url }}"/>
    <link rel="apple-touch-icon" sizes="256x256" href="{{ '/icons/icon-256x256.png' | url }}"/>
    <link rel="apple-touch-icon" sizes="384x384" href="{{ '/icons/icon-384x384.png' | url }}"/>
    <link rel="apple-touch-icon" sizes="512x512" href="{{ '/icons/icon-512x512.png' | url }}"/>
    <title>{{ pageTitle }}{{ " | " if title }}{{ title }}</title>
  </head>
  <body>
    <main>
      <article>
{{ content | safe }}
      </article>
      <footer>
        <span>&copy;{{ copyYear }} {{ author }}&#64;{{ site.url }}/:{{ buildTimeEncoded }}</span>
      </footer>
    </main>
  </body>
</html>
